
.holiday-page-container {
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    /* background: #f5f7fb; */
    overflow-y: auto;
}

.holiday-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #333;
}

/* Card */
.holiday-table-card {
    background: #ffffff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    width: 94%;
    /* margin-right: 50%; */
    /* margin-left: 20%; */
 
}

/* Scroll area */
/* .holiday-table-wrapper {
    max-height: 360px;
    overflow-y: auto;
} */

/* Table */
.holiday-table {
    width: 100%; 
    border-collapse: collapse;
}

/* Header */
.holiday-table-head {
    background: #eef1f7;
    /* position: sticky; */
    /* top: 0;
    z-index: 2; */
}  

.holiday-table-row {
    transition: background 0.2s ease;
}

/* .holiday-table-row:hover {
    background: #f9f9f9;
} */
/* Zebra striping */
.holiday-table-body .holiday-table-row:nth-child(odd) {
    background-color: #ffffff;   /* white */
}

.holiday-table-body .holiday-table-row:nth-child(even) {
    background-color: #f2f2f2;   /* light grey */
}


.holiday-table-row-head {
    background: #eef1f7;
}

/* Cells */
.holiday-table-cell {
    padding: 7px 20px;
    font-size: 15px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    white-space: nowrap;
}

.holiday-table-head-cell {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.holidaypage{
    margin-top: 27vh;
    margin-left: 7vh;

}
/* Column sizing */
.holiday-table-cell:nth-child(1) {
    width: 60px;
}

.holiday-table-cell:nth-child(5) {
    width: 80px;
}
