.header {
  width: 100%;
  padding: 25px 25px;
  margin-top: -1%;
  background-color:black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
}
